@font-face { font-family: NittyNormal; src: url('../fonts/NN.woff') format('woff'); }
@font-face { font-family: NittyBold; src: url('../fonts/NB.woff') format('woff'); }

header {
  height: 600px;
  background:#E5CF39;
  padding-top: 40px;
}

h1 {
  background: black;
  color: #E5CF39;
}

body {      
  margin:0;
}

.logowrapper {
    margin-top: 100px;
    width: 300px;
}

img.logowhatdoes {
    width: 460px;
}
      
img.logohouse {
    width: 297px;
    margin-top: 5px;
}

img.logomeantoyou {
    width: 537px;
    margin-top: 5px;
}
      
.centerer {
  width:1050px;
  margin: 0 auto;
}

.housesarea {
  width:100%;
  height: 600px;
  background:#F5F5F5;
}

.piearea {
  width:100%;
  background-color: #DEDEDE;
  padding:100px 0px;
  height:400px;
}

.pietext {
  position:relative;
  left:7%;
  width:43%;
  float:left;
  margin-right:10%;
  font-family: NittyNormal;
  font-size: large;

}

.bigpie {
  position:relative;
  left: 7%;
  width:50%;

}

.loginarea {
  width: 100%;
  height: 200px;
  background: #F5F5F5;

}

.chartarea {
  width: 100%;
  /*padding-left: 80px;*/
  background: #DEDEDE;
}

.chart {
  position:relative;
  left:8%;
}

.searcharea {
  width: 100%;
  background: #F5F5F5;

}

.search {
  margin: 50px;
  text-align:center;
}

.footerarea {
  width: 100%;
  background-color: #F5F5F5;
  padding: 10 0;
  font-size: medium;
  font-family: NittyNormal;
  text-align: center;

}

a {
  color: black;
}

